*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn{
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 17px;
}
.btn:hover{
    cursor: pointer;
    background-color:coral;
}
/* header section style  */
.header-container{
    width: 74.8%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 240px 0px;
    
}
.header-title{
    color: #272727;
    font-size: 85px;
}
.header-title-describe{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    width: 85%;
    
}
.flower-img{
    /* padding-top: 50px; */
    width: 635px;
    height: 854px;
    background-position: right bottom;
    

}

/* feature section style  */
.feature-container{
    width: 74.8%;
    height: 80vh;
    background: #FFF;
    text-align: center;
    padding: 170px 240px 0px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-title-describe{
    margin-top: 20px;
}
.feature-item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.flower-primary{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}
.yellow{
    
    background: rgba(71, 125, 17, 0.15);
}
.pink{
    background: rgba(167, 33, 98, 0.15);
}
.mixed{
    background: rgba(5, 151, 160, 0.15);
}
.yellow-img, .pink-img, .mixed-img{
    margin-top: 110px;
    width: 310px;
    height: 428px;
    
}
.pink-flower{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-name{
    margin: 20px;
}
/* service section style  */
.service-container{
    width: 74.8%;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 240px;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* offer section style  */
.offer-container{
    width: 74.8%;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    padding: 50px 240px 0px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

h2 > span{
    color: red;
}
.offer-title-describe{
    margin: 20px;
}
.btn-offer{
    padding: 15px 40px;
}

/* product section style  */
.product-container{
    width: 74.8%;
    height: 70vh;
    margin: 130px 240px;
    background-image: url("./Flower Asset/13982628_13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}
.product-content{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.product-titile{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.product-title-describe{
    margin-top: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    
}
.card{
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    transition: 1s;
}
.card:hover{
    transform: scale(1.2);
    z-index: 2;
}
.card-img{
    border-radius: 8px;
    width: 100%;
}
/* .card-border{
    border: 1px solid rgb(199, 191, 191);
} */
.card-item-name{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10px;
}
.card-item-price{
    margin-left: 10px;
    font-size: 15px;
}
.card-details{
    margin-left: 10px;
}

/* instagram section style  */
.insta-container{
    width: 74.8%;
    height: 60vh;
    margin: 130px 240px;
}
.insta-content{
    text-align: center;
    padding-bottom: 50px;
}
.img-cards{
    display: flex;
    justify-content: space-between;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.insta-title-describe{
    margin-top: 10px;
}

/* deals section style  */
.deals-container{
    width: 74.8%;
    height: 450px;
    border-radius: 8px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 240px;
    text-align: center;

}
.deals-content{
    padding-top: 130px;
}
.deals-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.deals-title-describe{
    margin-top: 8px;
    margin-bottom: 20px;
}
#input-style{
    width: 550px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 15px;
}

/* footer section style  */
.footer-container{
    /* width: 100%; */
    background-color: black;
    height: 45vh;
    color: white;
    background-position: center;
}
.footer-content{
    padding-top: 150px;
    text-align: center;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
}
.footer-title-describe{
    padding-bottom: 5px;
}
.fa-brands{
    font-size: 25px;
    padding-right: 8px;
    padding-bottom: 25px;
}
