*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn{
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 17px;
}
/* header section start  */
.header-cointainer{
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 240px 0px;
    
}
.header-title{
    font-size: 85px;
}
.header-title-describe{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    width: 85%;
    
}
.flower-img{
    /* padding-top: 50px; */
    width: 635px;
    height: 854px;
    background-position: right bottom;
    

}