*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn{
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 17px;
}
/* header section style  */
.header-cointainer{
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 240px 0px;
    
}
.header-title{
    font-size: 85px;
}
.header-title-describe{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    width: 85%;
    
}
.flower-img{
    /* padding-top: 50px; */
    width: 635px;
    height: 854px;
    background-position: right bottom;
    

}

/* feature section style  */
.feature-container{
    height: 80vh;
    background: #FFF;
    text-align: center;
    padding: 170px 240px 0px;
}
.feature-item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.flower-primary{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}
.yellow{
    
    background: rgba(71, 125, 17, 0.15);
}
.purple{
    background: rgba(167, 33, 98, 0.15);
}
.mixed{
    background: rgba(5, 151, 160, 0.15);
}
.yellow-img, .purple-img, .mixed-img{
    margin-top: 110px;
    width: 310px;
    height: 428px;
    
}
.purple-flower{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}